:root {
    --bg-color: darkgray;
    --fore-color: #353839;
}
  

.full-window {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #264121;
}
.centered-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 400px;
    background-color: #4E6B49;
    transform: translate(-50%, -50%);
    border-radius: 50%; /* This makes the container round */
    box-shadow: 0 0 15px #9EEB91; /* Glow effect */
    transition: background-color 0.5s ease, box-shadow 0.5s ease; /* Smooth transition */
}


.top-left-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.top-right-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.sidebar {
    height: 100vh;
    width: 400px;
    position: fixed;
    top: 0;
    background-color: var(--bg-color);
    color:  var(--fore-color) ;
    transition: left 0.3s;
}


.sidebar-left {
left: -400px;
}
.sidebar-left.show {
left: 0;
}

.sidebar-right {
right: -400px;
}
.sidebar-right.show {
right: 0;
}

.close-btn {
position: absolute;
top: 10px;
right: 10px;
background: none;
border: none;
color: var(--fore-color);
font-size: 1.5rem;
}

body, html {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
}

canvas {
display: block;
}


.accordion-body, 
.form-check-input:not(:checked), 
.form-check-input:focus,
input[type="range"]{
    background-color: var(--bg-color);
    color: var(--fore-color);
    box-shadow: none; 
    border-color: var(--fore-color);

}

.accordion-button{
    background-color: var(--bg-color);
    color: var(--fore-color);
    font-weight: bold;
    font-size: large;
}

.accordion-button:not(.collapsed) {
    background-color: var(--fore-color);
    color: var(--bg-color);
}

.form-check-input:checked {
    background-color: var(--fore-color);
    border-color: var(--fore-color);
    box-shadow: none; 
}


  .form-range::-ms-thumb {
    background: var(--fore-color); 
    border: 2px solid var(--fore-color); 
  }

  .form-range::-webkit-slider-thumb {
    background: var(--fore-color); 
    border: 2px solid var(--fore-color); 
  }

  .form-range::-moz-range-thumb{
    background: var(--fore-color); 
    border: 2px solid var(--fore-color); 
  }

.btn-secondary {
    background-color: var(--fore-color);
    font-size: 1.5rem; /* Increase font size */
}


.lower-menu {
  position: fixed;
  bottom: 15%;
  left: 30%;
  width: 40%;
  text-align: center;
}
